.carousel-item {
  height: 200px;
}

.carousel-image {
  height: 200px;
  width: 100%;
  border-radius: 25px;
}

.story-user-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.story-image-col {
  height: 300px;
}

.story-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
